* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  /* border: 2px solid blue; */
}
body {
  background-color: rgba(1, 45, 99, 1);
}
.logo {
  width: 100px;
  height: 60px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  justify-content: space-between;
  gap: 29px;
}
.header-item {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.header-link {
  color: rgba(199, 199, 199, 1);
}
.header-link:hover{
  transition: color 0.3s ease;
  color: rgba(255, 255, 255, 1);
}
.header-link span {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.header-language {
  font-family: "Roboto", sans-serif;
  font-weight: 300px;
  font-size: 24px;
  line-height: 100%;
  background: transparent;
  border: none;
  color: white;
}
.header-language span {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(220, 220, 220, 1);
}
.hero {
  background-image: url(./image/zadni\ fon.png);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 94px;
  padding-bottom: 183px;
}
.name-logo {
  font-family: "PT Serif", sans-serif;
  font-weight: 400px;
  font-size: 48px;
  line-height: 100%;
  margin-bottom: 40px;
}
.hero-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400px;
  font-size: 72px;
  line-height: 100%;
}
.hero-title span {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400px;
  font-size: 144px;
  line-height: 100%;
}
.hero-pretitle {
  width: 508px;
  margin-top: 16px;
  margin-bottom: 41px;
}
.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 100%;
  color: white;
  border-radius: 10px;
  background-color: rgba(142, 50, 198, 1);
  padding: 20px 60px;
}
.hero-button:hover,
.hero-button:focus{
   transition: background-color 0.3s ease;
     background-color: rgb(185, 98, 238);
     transition: transform 0.3s ease-in-out;
     transform: scale(1.1);
  cursor: pointer;
}
.fun {
  background-image: url(./image/drygizadnifon.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 105px;
  padding-bottom: 105px;
}
.fun-list {
  display: flex;
  border: 5px solid rgba(142, 50, 198, 1);
  align-items: center;
  color: #fff;
  gap: 145px;
}
.fun-item{
  padding-top: 25px;
  padding-bottom: 25px;
}
.fun-item:nth-child(1){
  padding-left: 25px;
}
.fun-pretitle {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400px;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.fun-image {
  width: 240px;
  height: 240px;
}
.fun-image:nth-child(1 3){
  padding-top: 5px;
}
.reviews {
  background-image: url(./image/tretyzadnifon.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 25px;
  padding-bottom: 114px;
  color: #fff;
}
.reviews-title {
  font-family: "Playfair Display";
  font-weight: 400px;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  padding-bottom: 24px;
}
.reviews-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews-item:nth-child(1) {
  background-image: linear-gradient(
    to top left,
    rgba(0, 229, 230, 1),
    rgba(0, 168, 247, 1),
    rgba(154, 118, 249, 1),
    rgba(204, 94, 194, 1)
  );
  box-shadow: 0px 14px 0px -5px rgba(123, 84, 178, 1),
    0px 30px 0px -13px rgba(83, 57, 120, 1);
}
.reviews-item:nth-child(2) {
  background-image: linear-gradient(
    to top left,
    rgba(255, 104, 180, 1),
    rgba(255, 69, 225, 1),
    rgba(206, 58, 255, 1),
    rgba(137, 97, 255, 1)
  );
  box-shadow: 0px 14px 0px -5px rgba(145, 89, 177, 1),
    0px 30px 0px -13px rgba(97, 51, 124, 1);
  margin-right: 93px;
  margin-left: 93px;
}
.reviews-item:nth-child(3) {
  background-image: linear-gradient(
    to top left,
    rgba(255, 225, 40, 1),
    rgba(255, 155, 92, 1),
    rgba(255, 131, 129, 1),
    rgba(255, 84, 137, 1)
  );
  box-shadow: 0px 14px 0px -5px rgba(185, 90, 76, 1),
    0px 30px 0px -13px rgba(115, 47, 38, 1);
}
.reviews-item {
  width: 255px;
  border-radius: 15px;
  padding: 49px 13px 29px;
}
.reviews-pretitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.reviews-date {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(216, 216, 216, 1);
  padding-top: 8px;
  margin-bottom: 47px;
}
.reviews-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1px;
}
.reviews-from {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(216, 216, 216, 1);
}
.reviews-image {
}
.reviews-lydu {
  padding-left: 5px;
}
.reviews-people {
  display: flex;
}
.order {
  background-image: url(./image/chetvertyfon.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 21px;
  padding-bottom: 37px;
}
.order-title {
  text-align: center;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400px;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 33px;
}
.order-email {
  width: 690px;
  border-radius: 50px;
  justify-content: center;
  margin-bottom: 19px;
  padding: 12px 25px;
}
.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-email {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
}
.order-country,
.order-city,
.order-adress {
  width: 580px;
  border-radius: 50px;
  margin-bottom: 19px;
}
.order-country,
.order-city,
.order-adress {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 11px 24px;
}
.order-button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  align-items: center;
  width: 248px;
  height: 68px;
  border-radius: 16px;
  background: rgba(142, 50, 198, 1);
}
.order-button:hover{
   transition: background-color 0.3s ease;
     background-color: rgb(185, 98, 238);
     transition: transform 0.3s ease-in-out;
     transform: scale(1.1);
  cursor: pointer;
}
.footer {
  background-color: rgba(2, 22, 53, 1);
}
.footer-question {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.footer-email {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
}
.footer-lists {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
}
.footer-date {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 7px;
  color: rgba(255, 255, 255, 1);
}
.footer-plase {
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 50px;
}
.footer-name-logo {
  font-family: "PT Serif", sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  margin-right: 24px;
  margin-bottom: 24px;
}
.footer-logo {
  width: 108px;
  height: 81px;
}
.div-logs {
  display: flex;
  justify-content: space-between;
}
.div-date {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.div-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/* .backdrop{
      background-color: rgba(0, 0, 0, 0.292);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
.modal{
  background-image: url(./image/bgmodal.png);
  padding: 25px;
width: ;
height: ;
  position: absolute;  
 top: 50%;
 left: 50%;

 transform: translate(-50%,-50%);
} */
